@import "../shared.scss";
@import "../button.scss";

.admin {
    &__tab {
        @include flex-center(column);
    }
}

.button__update {
    @include button;
}

.progress {
    width: 10em;
    margin-bottom: 2em;
}

.config__slider {
    width: 40em;

    * {
        text-align: left;
    }
}
